// Typograpy vars
$headingFont: 'Roboto', sans-serif;
$parFont: 'Roboto', sans-serif;

// Typesetting variables. Edit here or override in main file prior to import of this.
$baseFontSize:15 !default; // in pixels. This would result in 22px on desktop
$baseLineHeight:1.5 !default; // how large the line height is as a multiple of font size
$leading:$baseLineHeight * 1rem !default;
// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
$scale:1.414 !default;

// breakpoints
// from device width https://semantic-ui.com/elements/container.html
$bp--sm: 768px;
$bp--lg: 1200px;

// spacing
$spacing: 24px;

// Colors
$bg-color:#063A88;
$light-color:#FFFFFF;
$dark-color:#000;

// blocks
$roundcorners: 6px;

//shadows
@mixin shadow($top:0px, $left:0px, $blur:12px, $color:rgba(0,0,0,0.36)) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}
