// base
@import './base/var';
@import './base/base';
@import './base/typography';
// layouts
@import './layouts/header';
@import './layouts/container';
@import './layouts/contentblock';
@import './layouts/homeslider';
@import './layouts/doctorslider';
@import './layouts/single';
@import './layouts/page';
@import './layouts/signup';

.ui.container{
  padding: 0 $spacing;
}
body{
  background-color: $bg-color;
}

.site-header{
  color: $light-color;
}
