
/* All Sizes */
.ui.container {
  display: block;
  max-width: 100% !important;
}

/* Mobile */
@media only screen and (max-width: 967px) {
  .ui.container {
    width: auto !important;
    margin-left: 24px !important;
    margin-right: 24px !important;
  }
  .ui.grid.container {
    width: auto !important;
  }
  .ui.relaxed.grid.container {
    width: auto !important;
  }
  .ui.very.relaxed.grid.container {
    width: auto !important;
  }
}

// /* Tablet */
// @media only screen and (min-width: 768px) and (max-width: 991px) {
//   .ui.container {
//     width: 723px;
//     margin-left: auto !important;
//     margin-right: auto !important;
//   }
// }
//
// /* Small Monitor */
// @media only screen and (min-width: 992px) and (max-width: 1199px) {
//   .ui.container {
//     width: 100%;
//     margin-left: auto !important;
//     margin-right: auto !important;
//   }
//
// }

/* Large Monitor */
@media only screen and (min-width: 968px) {
  .ui.container {
    width: 920px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

}
