
.type-post{
  border-radius: $roundcorners;
  background-color: $light-color;
  margin-left: -$spacing;
  margin-right: -$spacing;
  position: relative;
  @include shadow;
  .linkwrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  .postblock{
    padding: $spacing;
    .entry-title{
      font-size: 1rem;
      text-transform: uppercase;
      line-height: 30px;
      margin-top: 0;
    }
    .entry-meta{
      font-size: 9px;
      opacity: 0.48;
      // .posted-on:after{
      //   content: ' |';
      // }
      .cat-links{
        text-transform: uppercase;
        a {
          text-decoration: underline;
        }
      }
      .edit-link{
        margin-left: 12px;
      }
      .hide{
        display: inline-block;
        margin-left: 12px;
      }
    }
    .entry-content{
      margin-top: 0;
    }
  }
  &.has-post-thumbnail{
    padding-top: 214px;
    background-position: center;
    background-size: cover;
    .postblock{
      background-color: rgba( $light-color, 0.84);
      color: $dark-color;
      border-radius: 0 0 $roundcorners $roundcorners;

    }
  }
}
@media only screen and (max-width: 968px){
  .post {
    .postblock {
      .entry-title{
        line-height: 20px;
        margin:6px 0;
      }
    }
  }
}
