
.doctorslider-block{
  background: rgb(240,240,240);
  background: -moz-linear-gradient(180deg, rgba(240,240,240,0.5018382352941176) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(240,240,240,0.5018382352941176) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(180deg, rgba(240,240,240,0.5018382352941176) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f0f0",endColorstr="#ffffff",GradientType=1);
  text-align: center;
  color: $light-color;
  margin-top: 72px;
  margin-bottom: $spacing;
  .doctorslider-container{
    margin-left: -$spacing;
    margin-right: -$spacing;
    top: -36px - 12px;
    position: relative;
    .doctorslide{
      .slider-top{
        padding-top: 12px;
        .face{
          display: inline-block;
          width: 144px;
          height: 144px;
          border-radius: 100%;
          border: 2px solid #F0F0F0;
          object-fit: cover;
          @include shadow;
        }
        .name{
          font-size: 22px;
          font-weight: 300;
          line-height: 27px;
          margin: 6px 0;
        }
        .spec{
          font-size: 13px;
          font-weight: bold;
          line-height: 20px;
        }
      }
      .text{
        font-style: italic;
        margin: 12px;
      }

    }

    .slick-arrow{
      background: transparent;
      border: none;
      line-height: 0;
      position: absolute;
      top: 67px;
      display: block;
      padding: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      font-size: 15px;
      color: $light-color;
      z-index: 20;
      &.slick-prev{
        left: calc(50% - 111px);
      }
      &.slick-next{
        right: calc(50% - 111px);
      }
    }
    .slick-dots{
      font-family: "Font Awesome 5 Free";
      position: absolute;

      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      li{
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
        cursor: pointer;
        &.slick-active {
          button:before{
            font-weight: 900;
            font-size: 12px;
            color: $light-color;
          }
        }
          button{
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 0;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
              &:before{

                font-size: 6px;
                line-height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                content: '\f111';
                text-align: center;
                opacity: 1;
                color: $light-color;
                -webkit-font-smoothing: antialiased;
              }
        }
      }
    }
  }

}
