.site-header{
  margin-bottom: $spacing * 1.5;
}
.site-branding{
  margin-top: $spacing * 3;
}

#header-img{
  margin-left: -24px;
  margin-right: -24px;
  width: calc(100% + 48px);
  max-width: none;

  height: $spacing * 11.5;
  object-fit: cover;
}

//
// #login-link{
//   float: right;
//   color: #ff0b62;
//   line-height: 48px;
// }
// #primary-menu{
//   margin-top: $spacing;
//   a{
//       color: #ff0b62;
//       margin-right: $spacing;
//   }
// }

@media only screen and (max-width: 968px){
  .site-header{
    margin-bottom: $spacing * 1.5;
    margin-top: $spacing * 3;
  }
  #header-img{
    margin-left: -48px;
    margin-right: -48px;
    width: calc(100% + 96px);
  }

}
