
.slider-block{
  background-color: #F0F0F0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: $spacing;
}
.container.ui{
  .slider-title{
    margin-left: -$spacing;
    margin-right: -$spacing;
    padding-bottom: 30px;
    h2{
      font-weight: 400;
      line-height: 30px;
      margin-top: 0;
      margin-bottom: 12px;

    }
  }
  .slider-container{
    @include shadow;
    margin-left: -$spacing;
    margin-right: -$spacing;
    background-color: $light-color;
    padding: 96px 100px;
    border-radius: $roundcorners;
    .sliderhome{
      .slide-container{
        display: flex;
         width: 100%;
         align-items: center;
        flex-basis:auto;
      }
      .homeslie-img-container{
        max-width: 50%;
        .homeslide-img{
          // float: left;
          margin-right: 30px;
          max-width: 300px
        }
      }

      .homeslide-content{
          flex: 1;
        .homeslide-title{
          margin-top: 0;
          font-size: 25px;
          font-weight: 300;
          margin-bottom: 3px;
          line-height: 30px;
        }
      }
      .slick-arrow{
        background: transparent;
        border: none;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        font-size: 25px;
        &.slick-prev{
          left: -39px;
        }
        &.slick-next{
          right: -39px;
        }
      }
      .slick-dots{
        font-family: "Font Awesome 5 Free";
        position: absolute;
        bottom: -64px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        li{
          position: relative;
          display: inline-block;
          width: 20px;
          height: 20px;
          margin: 0;
          padding: 0;
          cursor: pointer;
          &.slick-active {
            button:before{
              font-weight: 900;
              font-size: 12px;
            }
          }
            button{
              font-size: 0;
              line-height: 0;
              display: block;
              width: 20px;
              height: 20px;
              padding: 0;
              cursor: pointer;
              color: transparent;
              border: 0;
              outline: none;
              background: transparent;
                &:before{

                  font-size: 6px;
                  line-height: 20px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 20px;
                  height: 20px;
                  content: '\f111';
                  text-align: center;
                  opacity: 1;
                  color: black;
                  -webkit-font-smoothing: antialiased;
                }
          }
        }
      }

    }
  }
}
@media only screen and (max-width: 968px){
  .container.ui .slider-container{
    padding: 48px 24px;
    .sliderhome{
      .slide-container{
        display: block;
        .homeslie-img-container{
          text-align: center;
          .homeslide-img{
            display: inline-block;
          }
        }

      }
      .slick-dots{
        bottom: -24px;
      }
    }

  }

}
