body.page, body.error404 {
  background-color: #fff !important;
  #masthead{
    display: none;
  }
  h1 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 24px;
  }
  .content-area{
    margin-top: 120px;
  }
}
