#signup-content{
  width: 920px;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
  max-width: 100% !important;
  background-color: $light-color;
  color: $dark-color;
  border-radius: $roundcorners;
  @include shadow;
  .wp-activate-container{
    padding: 24px;
  }
  h2{
    font-size: 25px;
    line-height: 31px;
    margin: 12px 0;
  }
}

@media only screen and (max-width: 968px){
  #signup-content{
    width: auto !important;
    margin-left: 24px !important;
    margin-right: 24px !important;
  }
}
