.single, #modal-content, .error404  {
  #masthead{
    display: none;
  }
  #main{
    margin-top: 72px;
  }
  .type-post, .type-page{
    position: relative;


    &.has-post-thumbnail{
        padding-top: 0;
        .postblock{
          background-color: $light-color;
          color: $dark-color;
          border-radius: 0 0 6px 6px;
        }
        .thumb{
          width: 100%;
          height: 360px;
          border-radius: 6px 6px 0 0 ;
          background-position: center;
          background-size: cover;
        }
      }
      .entry-title{
        font-size: 25px;
        line-height: 31px;
        margin: 12px 0;
      }
    #acf-form{
      display: none;
    }
  }



}
.modal-wrapper.show{
  background-color: #063a88;
}
.modal.show{
  width: 920px;
  margin: 0 auto;


  .close-modal{
    float: right;
    z-index: 1000;
    float: right;
    position: relative;
    text-align:center;
    line-height:42px;
    width:42px;
    height:42px;
    border-radius: 100%;
    background-color: #E1EAF6;
    border: 2px solid;
    margin: 12px;
    font-family: "Font Awesome 5 Free";
    font-size: 0;
    &:after{
      display: inline;
      content: "\f00d";
      top: 0;
      left: 14px;
      position: absolute;
      font-weight: 900;
      font-size: 15px;
    }
  }
  #modal-content{
    margin-top: 72px;
    .close-button{
      display: none;
    }
  }
}
.modal-wrapper .modal .loading {
    display: block;
    width: 100px;
    margin: auto;
    padding: 25vh 0;
}
.close-button{
  text-align:center;
  line-height:42px;
  width:42px;
  height:42px;
  position: fixed;
  right: calc(50% - 460px);
  border-radius: 100%;
  background-color: $light-color;
  opacity: 0.84;
  border: 2px solid;
  margin: 12px;
  cursor: pointer;
  z-index: 1000;

}

@media only screen and (max-width: 968px){
  .single{
    .post{
      .close-button{
          right: calc(0% + 24px);
      }
    }
  }
  .home{
    .entry-content{
      max-height: 6em;
      overflow: hidden;
    }
  }
}
